@import "../../../../styles.scss";

.navbar-align {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7f8fa6;
	border-bottom: 1px solid lightgrey;
	font-size: 18px;
	font-weight: bold;
}
