<nav class="navbar navbar-expand-lg navbar-dark navbar-align">
  <a class="navbar-brand" href="#">
    <img
      src="../../../../assets/images/softtekLogo.png"
      width="120px"
      height= "50px"
      class="d-inline-block align-top "
      alt="Softtek">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        [ngClass]="{'nav-item': true, 'nav-link': true, 'active': activeRoute === 'users' ? true : false }"
        href="#"
        [routerLink]="['/users']"
        >Users</a>
      <a
        [ngClass]="{'nav-item': true, 'nav-link': true, 'active': activeRoute === 'newusers' ? true : false }"
        [routerLink]="['/newusers']"
        href="#">
        New User
      </a>
    </div>
  </div>
</nav>