<div class="newuser-form-container">
	<div class="title-container">
		<h4> Register New User</h4>
	</div>
	<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
	  <div class="row">
	    <div class="col-md-6">
	      	<label>First Name</label>
	      	<input
	      		formControlName="name"
	      		type="text"
	      		[ngClass]="{'form-control': true,
	      		'is-valid': (!f.name.errors || !f.name.pattern) && !f.name.pristine && f.name.value.length ? true : false,
	      		'is-invalid': (f.name.errors || f.name.pattern) && !f.name.pristine && f.name.value.length ? true : false}"
	      		placeholder="First name">
	      	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.name.errors && f.name.errors.required"
	      		>
	      		Value is required
	      	</div>
	      	<div
	      		class="input-error-message"
	      		*ngIf="f.name.errors && f.name.errors.pattern">Value must be alphabetic
	      	</div>
	    </div>

	    <div class="col-md-6">
	    	<label>Last Name</label>
	    	<input
	    		formControlName="lastName"
	    		type="text"
	    		[ngClass]="{'form-control': true,
	      		'is-valid': (!f.lastName.errors || !f.lastName.pattern) && !f.lastName.pristine && f.lastName.value.length ? true : false,
	      		'is-invalid': (f.lastName.errors || f.lastName.pattern) && !f.lastName.pristine && f.lastName.value.length ? true : false}"
	    		placeholder="Last name">
	    	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.lastName.errors && f.lastName.errors.required"
	      		>
	      		Value is required
	      	</div>
	      	<div
	      		class="input-error-message"
	      		*ngIf="f.lastName.errors && f.lastName.errors.pattern">Value must be alphabetic
	      	</div>
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Email</label>
	      	<input
	      		formControlName="email"
	      		type="text"
	      		[ngClass]="{'form-control': true,
	      		'is-valid': (!f.email.errors || !f.email.pattern) && !f.email.pristine && f.email.value.length ? true : false,
	      		'is-invalid': (f.email.errors || f.email.pattern) && !f.email.pristine && f.email.value.length ? true : false}"
	      		placeholder="Email">
	      	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.email.errors && f.email.errors.required"
	      		>
	      		Value is required
	      	</div>
	      	<div
	      		class="input-error-message"
	      		*ngIf="f.email.errors && f.email.errors.pattern">Enter a valid email
	      	</div>
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Address</label>
	      	<input
	      		formControlName="address"
	      		type="text"
	      		[ngClass]="{'form-control': true,
	      		'is-valid': (!f.address.errors || !f.address.pattern) && !f.address.pristine && f.address.value.length ? true : false,
	      		'is-invalid': (f.address.errors || f.address.pattern) && !f.address.pristine && f.address.value.length ? true : false}"
	      		placeholder="Address">
	      	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.address.errors && f.address.errors.required"
	      		>
	      		Value is required
	      	</div>
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Phone</label>
	      	<input
	      		formControlName="phone"
	      		type="text"
	      		(keypress)="inputPhonePress($event)"
	      		(keyup)="phoneInput($event)"
	      		[value]='phoneOutput'
	      		maxlength="14"
	      		[ngClass]="{'form-control': true,
	      		'is-valid': (!f.phone.errors || !f.phone.pattern) && !f.phone.pristine && f.phone.value.length ? true : false,
	      		'is-invalid': (f.phone.errors || f.phone.pattern) && !f.phone.pristine && f.phone.value.length ? true : false}"
	      		placeholder="(###) ###-####">
	      	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.phone.errors && f.phone.errors.required"
	      		>
	      		Value is required
	      	</div>
	      	<div
	      		class="input-error-message"
	      		*ngIf="submitted && f.phone.errors && f.phone.errors.minLength"
	      		>
	      		Enter a valid phone number
	      	</div>
	    </div>
	  </div>
	   <br>
	   <button
	   	value="submit"
	   	[disabled]="newUserForm.invalid && !newUserForm.pristine ? true : false"
	   	[ngClass]="{'btn btn-success btn-lg': true,
	   	'disabledBtn': newUserForm.invalid && !newUserForm.pristine ? true : false}">Register</button>
	</form>

	<div
		*ngIf="createdUser"
		class="alert alert-success mt-sm-3"
		role="alert">
		The user was created successfully!
	</div>
</div>