
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$softtek-primary: mat-palette($mat-indigo);
$softtek-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$softtek-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$softtek-theme: mat-light-theme($softtek-primary, $softtek-accent, $softtek-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($softtek-theme);

html {
	height: 100%;
  	width: 100%;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Neue Hass Unica Pro', sans-serif;
	height: 100%;
  width: 100%;
}


$softtek-blue: #112942;
$softtek-gray: #ebeced;
$softtek-blue: #272269;
$white: #FFFFFF;


.mainWrapper {
	width: 100%;
	height: 50px;
	margin: 30px 0px;
	border: 1px solid red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
